{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 7000,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "auto",
  "parser": "html"
}