@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'forumregular';
  src: url('./fonts/forum-regular-webfont.woff2') format('woff2'),
       url('/.fonts/forum-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
